@font-face {
  font-family: "TAYWingman";
  src: url("../fonts/TAYWingman.otf");
}
@font-face {
  font-family: "BDOGrotesk";
  src: url("../fonts/BDOGrotesk-VF.woff2");
}


:root {
    --white: #FFF;
    --light: #FBF2E7;
    --dark: #222;
    --display: "TAYWingman";
    --body: "BDOGrotesk";
}


body {
    margin: 0;
    padding: 0;
    background-color: var(--light);
    color: var(--dark);
    font-family: var(--body);
    background: url(../img/home/bgcrop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.ghoul.desktop {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 23vw;
    
}
.ghoul.mobile {
    display: none;
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
}

#pitch {
    padding-top: 60px;
    height: 100vh;
}
.logo {
   margin: 0 auto;
   max-width: 360px; 
}
.logo img {
    max-width: 100%;
}
.subhead {
    margin: 0 auto;
    max-width: 460px; 
}
.subhead h2 {
    text-align: center;
    font-family: var(--display);
    font-size: 1.9em;
    line-height: 1.3;
    padding: 0 20px;
}

.postits-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
}
.postits-grid img {
    max-width: 100%;
    grid-row: 1; 
}

h1 {
    font-family: var(--display); 
    font-size: 98px;
    color: #2a2a2a;
    margin-bottom: 10px;
}
.centered {
    text-align: center;
    margin: 0 auto;
}
p, li {
    font-family: var(--body); 
    font-size: 18px; 
    line-height: 31px;
}
.container-fluid {
    max-width: 100vw;
    margin: 0 auto;
    padding: 0;
}

.container-fixed {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 20px;
}
.joinus {
    display: block;
    max-width: 300px;
    margin: 0 auto;
}
.joinus img  {
    max-width: 100%;
}

@media screen and (max-width: 640px) {
    body {
        background-color: #e0cdbc;
        background-size: 310%;
    }
    #pitch {
        margin-bottom: 300px;
    }
    .ghoul.desktop {
        display: none;
    }
    .ghoul.mobile {
        display: block;
    }
    #pitch {
        width: 100%;
    }
    .logo {
        max-width: 300px;
    }
    .postits-grid {
        display: block;
        
    }
    
    .postits-grid img {
        max-width: auto;
    }
    .postits-grid img:last-child {
      margin-bottom: 200px;
    }
    .joinus {
        position: fixed;
        bottom: 0;
        right: 0;
        max-width: 300px;
    }
}